<?php

use Collective\Actions\HelloWorldAction;
use Collective\Actions\HelloWorldJsonAction;
use Collective\Middleware\LoggerMiddleware;
use Monolog\Handler\StreamHandler;
use Monolog\Logger;

return [
    "settings" => [
        'determineRouteBeforeAppMiddleware' => true,
        'displayErrorDetails' => true,
        'routes' => [
            'get' => [
                '/' => [ "callable" => HelloWorldAction::class, "mw" => [], "name" => "" ],
                '/json' => [ "callable" => HelloWorldJsonAction::class, "mw" => [], "name" => "" ]
            ]
        ],
        "app-middleware" => [
            LoggerMiddleware::class
        ],
        "config" => [
            "logger_name" => "Collective",
            'template_path' => "../templates",
            "cache_path" => "../cache",
            "log_path" => "../logs"
        ]
    ],
    'csrf' => function ($c) {
      return new \Slim\Csrf\Guard();
    },
    "view" => function ($c) {
        $view = new \Slim\Views\Twig($c['config']['template_path'],
            ['cache' => $c['config']['cache_path']]);

        // Instantiate and add Slim specific extension
        $view->addExtension(
            new Slim\Views\TwigExtension(
                $c['router'],
                $c['request']->getUri()
            )
        );

        return $view;
    },
    "logger" => function ($c) {
        $log = new Logger($c['config']['logger_name']);
        $log->pushHandler(new StreamHandler($c['config']['log_path'], Logger::NOTICE));

        return $log;
    },
    "twig" => function ($c) {
        return new \Collective\Responders\TwigResponder($c['view']);
    },
    "json" => function ($c) {
        return new \Collective\Responders\JsonResponder();
    },
    "phpview" => function ($c) {
        return new \Slim\Views\PhpRenderer("../templates");
    },
    "session" => new \Collective\Session\Session()
];