<?php

use Monolog\Handler\StreamHandler;
use Monolog\Logger;

return [
    "config" => [
        "logger_name" => "Collective",
        'template_path' => "../templates",
        "cache_path" => "../cache",
        "log_path" => "../logs"
    ],
    "settings" => [
        'determineRouteBeforeAppMiddleware' => true,
        'displayErrorDetails' => true
    ],
    "view" => function ($c) {
        $view = new \Slim\Views\Twig($c['config']['template_path'],
            ['cache' => $c['config']['cache_path']]);

        // Instantiate and add Slim specific extension
        $view->addExtension(
            new Slim\Views\TwigExtension(
                $c['router'],
                $c['request']->getUri()
            )
        );

        return $view;
    },
    "logger" => function ($c) {
        $log = new Logger($c['config']['logger_name']);
        $log->pushHandler(new StreamHandler($c['config']['logger_name'], Logger::NOTICE));

        return $log;
    },
    "twig" => function ($c) {
        return new \Collective\Responders\TwigResponder($c['view']);
    }
];